{
    "parser": "babel-eslint",
    "plugins": ["react"],
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"globals": {
		"Component": true,
		"Connect": true,
		"React": true,
		"window": true
	},
	"env": {
		"browser": true
	}
}
